
#u435-4,#u436-4,#u261-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u259-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u263-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1253-4,#u336-12,#u247-10,#u520-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u264-4,#u265-4,#u1250-3,#u1250-5
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u434-4,#u335-4,#u246-4,#u519-4,#u1250-2,#u1250-6
{
	font-family: alex-brush-n4, sans-serif;
}

