.version.index /* version checker */
{
	color: #0000EA;
	background-color: #B171CF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.74999999999955px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;/* should not cover content below */
}

#pu456
{
	width: 0.01px;
	padding-bottom: 2292px;
	margin-left: -1653px;
}

#u456
{
	z-index: 2;
	width: 1160px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: -100px;
}

#u147
{
	z-index: 4;
	width: 1160px;
	background-color: transparent;
	position: fixed;
	top: 224px;
	left: -98px;
}

#u439
{
	z-index: 6;
	width: 974px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: fixed;
	top: 27px;
	left: -14px;
}

#u435-4
{
	z-index: 11;
	width: 317px;
	min-height: 51px;
	background-color: transparent;
	font-size: 32px;
	color: #006837;
	line-height: 38px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu434-4
{
	width: 0.01px;
}

#u434-4
{
	z-index: 7;
	width: 974px;
	min-height: 174px;
	background-color: transparent;
	font-size: 137px;
	color: #0099D4;
	line-height: 164px;
	font-family: alex-brush, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u436-4
{
	z-index: 15;
	width: 234px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 740px;
}

#u152
{
	z-index: 19;
	width: 1160px;
	background-color: transparent;
	position: fixed;
	top: 352px;
	left: -98px;
}

#u157
{
	z-index: 21;
	width: 526px;
	background-color: transparent;
	position: fixed;
	top: 360px;
	left: -100px;
}

#u335-4
{
	z-index: 28;
	width: 257px;
	min-height: 48px;
	background-color: transparent;
	text-align: center;
	font-size: 48px;
	color: #7F7F7F;
	line-height: 58px;
	font-family: alex-brush, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2234px;
	left: 703px;
}

#u246-4
{
	z-index: 47;
	width: 231px;
	min-height: 48px;
	background-color: transparent;
	text-align: center;
	font-size: 72px;
	color: #7F7F7F;
	line-height: 86px;
	font-family: alex-brush, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 874px;
	left: -36px;
}

#u519-4
{
	z-index: 62;
	width: 257px;
	min-height: 48px;
	background-color: transparent;
	text-align: center;
	font-size: 48px;
	color: #7F7F7F;
	line-height: 58px;
	font-family: alex-brush, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 1672px;
	left: 694px;
}

#u912
{
	z-index: 86;
	width: 5550px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 619px;
	left: -1653px;
}

#u1412
{
	z-index: 87;
	width: 5550px;
	height: 62px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
}

#buttonu260
{
	z-index: 88;
	width: 173px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2507px;
}

#buttonu260:hover
{
	background-color: #7FDAE9;
	background-color: rgba(0,181,212,0.5);
	width: 173px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,0.5);
}

#buttonu260:active
{
	background-color: #00B5D4;
	background-color: rgba(0,181,212,1);
	width: 173px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,1);
}

#buttonu260.ButtonSelected
{
	background-color: #00B5D4;
	background-color: rgba(0,181,212,1);
	width: 173px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,1);
}

#u261-4
{
	z-index: 89;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #67CEE9;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 18px;
}

#buttonu260:hover #u261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu260:active #u261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu260:hover #u261-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu260:active #u261-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu258
{
	z-index: 93;
	width: 173px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 2161px;
}

#buttonu258:hover
{
	background-color: #7FDAE9;
	background-color: rgba(0,181,212,0.5);
	width: 173px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,0.5);
}

#buttonu258:active
{
	background-color: #00B5D4;
	background-color: rgba(0,181,212,1);
	width: 173px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,1);
}

#buttonu258.ButtonSelected
{
	background-color: #00B5D4;
	background-color: rgba(0,181,212,1);
	width: 173px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,1);
}

#u259-4
{
	z-index: 94;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #67CEE9;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 18px;
}

#buttonu260.ButtonSelected #u261-4,#buttonu258:hover #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu258:active #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu258:hover #u259-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu258:active #u259-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu262
{
	z-index: 98;
	width: 173px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2334px;
}

#buttonu262:hover
{
	background-color: #7FDAE9;
	background-color: rgba(0,181,212,0.5);
	width: 173px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,0.5);
}

#buttonu262:active
{
	background-color: #00B5D4;
	background-color: rgba(0,181,212,1);
	width: 173px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,1);
}

#buttonu262.ButtonSelected
{
	background-color: #00B5D4;
	background-color: rgba(0,181,212,1);
	width: 173px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	-pie-background: rgba(0,181,212,1);
}

#u263-4
{
	z-index: 99;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #67CEE9;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 18px;
}

#buttonu258.ButtonSelected #u259-4,#buttonu262:hover #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu262:active #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu262.ButtonSelected #u263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu262:hover #u263-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu262:active #u263-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu260.ButtonSelected #u261-4 p,#buttonu258.ButtonSelected #u259-4 p,#buttonu262.ButtonSelected #u263-4 p
{
	color: #67CEE9;
	visibility: inherit;
}

#u1409-5
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 1683px;
}

#u264-4
{
	z-index: 108;
	width: 35px;
	min-height: 59px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	text-align: right;
	font-size: 46px;
	color: #67CEE9;
	line-height: 55px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 2124px;
}

#u265-4
{
	z-index: 112;
	width: 35px;
	min-height: 59px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	text-align: left;
	font-size: 46px;
	color: #67CEE9;
	line-height: 55px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 2683px;
}

#u1253-4
{
	z-index: 116;
	width: 256px;
	min-height: 46px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	font-size: 36px;
	color: #67CEE9;
	line-height: 43px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1556px;
}

#pu1494
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1485px;
}

#u1494
{
	z-index: 23;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 878px;
}

#u1513
{
	z-index: 25;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1316px;
}

#u1523
{
	z-index: 27;
	width: 1160px;
	background-color: #FFFFFF;
	padding-bottom: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1316px;
}

#u336-12
{
	z-index: 32;
	width: 534px;
	min-height: 159px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 23px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 100px;
}

#u1484
{
	z-index: 44;
	width: 1162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
}

#u290
{
	z-index: 46;
	width: 1162px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
}

#u247-10
{
	z-index: 51;
	width: 503px;
	min-height: 183px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 21px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 532px;
}

#u518
{
	z-index: 61;
	width: 1160px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 806px;
}

#u520-6
{
	z-index: 66;
	width: 583px;
	min-height: 159px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 21px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 100px;
}

#u1529
{
	z-index: 72;
	width: 1160px;
	background-color: #FFFFFF;
	left: -100px;
	position: relative;
}

#u1250-8
{
	z-index: 73;
	width: 1168px;
	min-height: 136px;
	background-color: transparent;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	text-align: left;
	font-size: 48px;
	line-height: 38px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u1250-3
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
}

#u1250-5
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1250-4
{
	font-size: 24px;
	line-height: 19px;
}

#u1250-2,#u1250-6
{
	font-family: alex-brush, sans-serif;
	font-weight: 400;
}

.js #u1412.ose_pre_init,.js #buttonu260.ose_pre_init,.js #buttonu258.ose_pre_init,.js #buttonu262.ose_pre_init,.js #u1409-5.ose_pre_init,.js #u264-4.ose_pre_init,.js #u265-4.ose_pre_init,.js #u1253-4.ose_pre_init,.js #u1250-8.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1510
{
	z-index: 81;
	width: 2366px;
	background-color: #7F7F7F;
	padding-bottom: 2px;
	left: -577px;
	position: relative;
}

#u1507-4
{
	z-index: 82;
	width: 365px;
	min-height: 38px;
	background-color: transparent;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 477px;
}

.html
{
	background-color: #67CEE9;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 2px;
}

